<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Добавление статьи</h1>
            </div>
        </div>
    </section>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
        <textarea name="full_text" placeholder="Введите полный текст статьи" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-secondary">Добавить статью</button>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>